# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# C extensions
*.so

# macOS dir files
.DS_Store

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.ipynb_checkpoints

# Tests and linter
.pytest_cache/
.mypy_cache/
.coverage

# docs
/api_docs

# dotenv
.env
.envrc

# virtualenv
.venv
venv/
ENV/

# egs with manifest files
egs/*
!egs/example
# local datasets
dataset/*
!dataset/example

# personal notebooks & scripts
*/local_scripts
*/notes
.vscode/
/notebooks
/local_scripts
/notes

onnx_build_pattern.py
onnx_inference_1.py
onnx_inference_2.py
onnx_lm_test_backup.py
onnx_lm_test.py
onnx_single_step_backup.py
onnx_test.py

state_dict.bin
compression_state_dict.bin
compression_encode.onnx
compression_decode.onnx
lm_inference.onnx